<nav class="nav collapsible">
  <a class="nav__link" href="/"><img src="./images/logo.png" alt="" /></a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">item 1</a></li>
    <li class="nav__item"><a href="#">item 2</a></li>
    <li class="nav__item"><a href="#">item 3</a></li>
    <li class="nav__item"><a href="#">item 4</a></li>
    <li class="nav__item"><a href="#">item 5</a></li>
  </ul>
</nav>
